@page "/certifications"

<PageTitle>Certifications</PageTitle>

<div style="text-align: center;">
	<h1 style="color: blue; font-weight: bold;">Certifications</h1>
</div>

<h3>BNTQB</h3>
<p>
	&#x2022;
	2018 - ISTQB® Certified Tester, Foundation Level (CTFL), Credential ID 18-CTFL-149638-06
</p>

<p>
	&#x2022;
	2019 - Advanced Level Test Analyst (CTAL), Credential ID 19-CTAL-TA-160130-06
</p>

<h3>SAS</h3>
<p>
	&#x2022;
	2017 -
	Statistics I Introduction to ANOVA, Regression, and Logistic Regression
</p>

<p>
	&#x2022;
	2018 - SAS Programming 1: Essentials; Credential ID https://www.youracclaim.com/badges/c3f438e6-0306-4598-8fe0-2cc04da6b507/public_u
</p>

<h3>Coimbra University</h3>
<p>
	&#x2022; 2013 - Management control / Contrôle de gestion
</p>

<h3>World Intellectual Property Organization</h3>
<p>&#x2022; 2014 - DL-101 General Course on Intellectual Property, WIPO</p>
<p>&#x2022; 2014 - DL-202 Electronic Commerce and Intellectual, WIPO</p>

<h2>IBM</h2>
<p>&#x2022; 2023 - IBM Planning Analytics Workspace V2.0.x Modeling with Dimensions and Cubes, Credential ID https://www.credly.com/badges/04b423d6-1586-4da9-ade5-f7e19c519cfe/linked_in_profile</p>

<h3>Tricentis</h3>
<p>
	&#x2022;
	Tricentis Data Integrity Fundamentals − Getting started with end-to-end data warehouse testing,
	Credential ID http://verify.skilljar.com/c/w5nza4ez83so
</p>

<p>
	&#x2022;
	Tricentis Platform Introduction,
	Credential ID http://verify.skilljar.com/c/cpbr2awqy9ku
</p>

<p>
	&#x2022;
	Tricentis Tosca Deep Dive − Accessing Tosca artifacts via Tosca Query Language,
	Credential ID http://verify.skilljar.com/c/9r433bc5gwje
</p>

<p>
	&#x2022;
	Tricentis Tosca Deep Dive − Automating API test cases,
	Credential ID http://verify.skilljar.com/c/6d6nqb3c7sii
</p>

<p>
	&#x2022;
	Tricentis Tosca Deep Dive − Automating beyond web applications (AE1),
	Credential ID http://verify.skilljar.com/c/4wqxe7mvtkcw
</p>

<p>
	&#x2022;
	Tricentis Tosca Deep Dive − Automating database test cases,
	Credential ID http://verify.skilljar.com/c/oss9rz7u9wwg
</p>

<p>
	&#x2022;
	Tricentis Tosca Deep Dive − Managing your stateful data (TDS2),
	Credential ID http://verify.skilljar.com/c/n8eoaywbuik8
</p>

<p>
	&#x2022;
	Tricentis Tosca Deep Dive − Structuring your test cases and test data (TDS1),
	Credential ID http://verify.skilljar.com/c/yf27yf4yriyj
</p>

<p>
	&#x2022;
	Tricentis Tosca Expert Series − Implementing Tosca APIs,
	Credential ID http://verify.skilljar.com/c/fsqo2ezmr4ah
</p>

<p>
	&#x2022;
	Tricentis Tosca Fundamentals − Automating web application testing (AS1),
	Credential ID http://verify.skilljar.com/c/3gd6iqxnmawf
</p>

<p>
	&#x2022;
	Tricentis Tosca Fundamentals − Automating web application testing (AS1),
	Credential ID http://verify.skilljar.com/c/wxy2ic6j9spq
</p>

<p>
	&#x2022;
	Tricentis Tosca Fundamentals − Optimizing test automation with centralized test data (AS2),
	Credential ID http://verify.skilljar.com/c/ad852gj6e35r
</p>

<h3>Aveta Business Institute</h3>
<p>&#x2022; 2022 - Six Sigma White Belt Certification, Credential ID XqrJgh5Bc3</p>

@code {

}
