@page "/education"

<PageTitle>Education</PageTitle>

<div style="text-align: center;">
	<h1 style="color: blue; font-weight: bold;">Internship</h1>
</div>


<h4>PhD in Economics 2010-2015</h4>
<p>
	Implement an in deep analysis of taxation and determinants of software piracy
</p>


<h4>Master in Financial Economics 2008-2010</h4>
<p>
	The Master intends to enable its students to exercise the profession of economist, 
	both in the business aspect, as well as in planning, regulation and administration. 
	To this end, he provides general training in various fields of economic and econometric analysis, 
	in parallel with specialized training in financial economics, industrial economics or growth economics 
	and structural policies, according to the option selected by the student.
</p>

<h4> Bsc Financial Economics 2005-2008</h4>
<p>
	The Degree in Economics values ​​the creation of skills that qualify graduates for a conscious 
	and well-founded assessment of economic reality and, at the same time, provide adequate practical 
	preparation for subsequent insertion in the demanding and competitive labor market. The Degree in 
	Economics transmits basic knowledge in the microeconomic and macroeconomic branches of economic science, 
	solid training in quantitative methods, with emphasis on statistics and econometrics, and the ability to 
	understand the fundamental characteristics of the Portuguese economy and the European economy. 
	The Degree in Economics also assumes a strong connection to the scientific management area, seeking to 
	familiarize students with themes relevant to the business context.
</p>


@code {

}
