@page "/internship"

<PageTitle>Internship</PageTitle>

<div style="text-align: center;">
	<h1 style="color: blue; font-weight: bold;">Internship</h1>
</div>

<h4 style: font-weight: bold>Economist (SMEunited)</h4>
<p>January 2014 - April 2014</p>
<p>
	Construction of the EU Craft and SME Barometer of Spring 2014.<br />
	Business analysis, Market research, policy analysis.
</p>



@code {

}

