@page "/publications"

<PageTitle>Publications</PageTitle>


<div style="text-align: center;">
	<h1 style="color: blue; font-weight: bold;">Publications</h1>
</div>

<p>&#x2022; Determinants of Worldwide Software Piracy Losses, https://doi.org/10.3846/20294913.2015.1074128</p>

<p>&#x2022; A survey on software piracy empirical literature: Stylized facts and theory; https://doi.org/10.1016/j.infoecopol.2015.07.008</p>

@code {

}
