@page "/training"

<div>

	<PageTitle>Training</PageTitle>

	<div style="text-align: center;">
		<h1 style="color: blue; font-weight: bold;">Training</h1>
	</div>

	<h2>CTG</h2>	
	<p>&#x2022; Communication Skills</p>
	<p>&#x2022; ISTQB Advanced Test Analyst (CTAL - TA)</p>
	<p>&#x2022; ISTQB Foundation (CTFL)</p>
	<p>&#x2022; PRINCE2® Foundation</p>
	<p>&#x2022; Test Automation with Ranorex</p>
	<p>&#x2022; Test Automation with Ranorex Advanced</p>

	<h2>Coimbra University</h2>
	<p>&#x2022; Specialization course in management control</p>
	<p>
		&#x2022;
		Spring Course on Bayesian Econometrics: Applications to Macroeconomics and Finance
	</p>
	<p>
		&#x2022;
		Spring Course on Nonstationary Panel Time Series Methods
	</p>
</div>
@code {

}
